<head>

    <title><%= title %></title>
    <meta charset=utf-8>
    <!--[if IE]><meta http-equiv=X-UA-Compatible content="IE=edge"><![endif]-->
    <meta property="og:image" content="<%- host %>/panel/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href=https://teklafilm.com/panel/logo.png>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name=description content="<%= des %>">
    <meta name=keywords itemprop=keywords content="teklafilm سقف مردم">
    <meta property=og:locale content=fa_IR>
    <meta property=og:type content=article>
    <meta property=og:title content="<%- title %>">
    <meta property=og:description content="<%- des %>">
    <meta property=og:url content="">
    <meta property=og:site_name content=احقاق>
    <link rel=icon type=image/png sizes=192x192 href=https://teklafilm.com/panel/logo.png>
    <meta property="og:icon" content="https://teklafilm.com/panel/logo.png" />
    <meta name="theme-color" content="#303030">
    <meta name="google-site-verification" content="7DKAaFx9g4zqhgszM3niTfOOLcrRiHG-DEwd5Gv0DHE" />

    <link rel="stylesheet" href="<%- host%>/local/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%- host%>/local/css/teklafilm.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="<%- host%>/local/js/jquery.min.js"></script>
    <script src="<%- host%>/local/js/bootstrap.min.js"></script>
    <script src="<%- host%>/local/js/teklafilm.js"></script>




</head>