<div class="row  pl-2">
    <div class="col-md-12 shadow-sm border  pb-2 bg-white text-dark">
        <div class="p-2 row p-0">
            <div class="col-12 m-0 p-0">
                <h2  class="boxesWline linkColor">قیمت خودروهای پر فروش </h2>
            </div>
        </div>
        <div class="row  mt-0 pb-2">
            <div class="col-md-12">
                <div align="center ">
                    <% carPrice = res.carPrice; %>
                    <span class="text-success fa fa-circle pr-1">&nbsp;</span>به روز شده در <%- jDate.jDate(carPrice[0].updated_at)%>
                </div>
            </div>



        </div>
        <div class="row  mt-1  border-top">
            <div class="col-md-12">
                <% for (i=0;i<carPrice.length;i++){ %>
                <a class="custom-link" href="<%- host+"/bca/"+carPrice[i].id%>/1">
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2 text-dark" >
                        <div align="center "><%- carPrice[i].model %></div>

                    </div>
                    <div class="col-6 border-bottom  p-2 text-dark">
                        <div align="center "><%- needFul.Commafy(carPrice[i].price )%></div>
                    </div>
                </div>
                </a>
                <% } %>

            </div>



        </div>
    </div>
</div>
<div class="row mt-2  pl-2">
    <div class="col-md-12 shadow-sm border  pb-2 bg-white text-dark">
        <div class="p-2 row p-0">
            <div class="col-12 m-0 p-0">
                <h2  class="boxesWline linkColor">اخبار خودرویی </h2>
            </div>
        </div>
        <div class="row  mt-1">
            <%
            carNews = res.carNews;
            for (i=0;i<carNews.length;i++){
            %>
            <div class="col-md-12 sideBarBox">

                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="<%- host+'/news/'+carNews[i].slug%>" class="custom-link text-dark" ><%- carNews[i].title %></a>
                    </div>
                </div>

            </div>
            <% } %>

        </div>
    </div>
</div>
<div class="row mt-2 make-me-sticky2 pl-2">
    <div class="col-md-12 shadow-sm border  pb-2 bg-white text-dark">
        <div class="p-2 row p-0">
            <div class="col-12 m-0 p-0">
                <h2  class="boxesWline linkColor">اخبار سقف مردم </h2>
            </div>
        </div>
        <div class="row  mt-1">
            <%
            saghfNews = res.saghfNews;
            for (i=0;i<saghfNews.length;i++){
            %>
                <div class="col-md-12 sideBarBox">

                    <div class="row">
                        <div class="col-1 " >
                            <span class="linkT">&blacksquare;</span>

                        </div>
                        <div class="col-10 border-bottom sideBarLink">
                            <a href="<%- host+'/news/'+saghfNews[i].slug%>" class="custom-link text-dark" ><%- saghfNews[i].title %></a>
                        </div>
                    </div>

                </div>
            <% } %>

        </div>
    </div>
</div>