<div class="row  make-me-sticky">
    <div class="col-12 bg-white content-cl shadow-sm border p-1">
        <div class="col-12 p-0">
            <div class="row mb-3">
                <div class="col-5">
                    <div class=" p-2 bg-dark text-white">Free Pdf</div>
                </div>
                <div class="col-7">
                    <div class=" p-2 text-dark">
                        <div align="right">
                            <a class="custum-link showAll" href="<%-host%>/f/1">Show All</a>

                        </div>
                    </div>

                </div>
            </div>
            <%
            pdfs = res.pdfs;
            for (i=0;i<pdfs.length;i++){
                post = pdfs[i];
            %>
            <div class="col-12 <% if(i+1 !=  pdfs.length){%> border-bottom <% }%> sideBarLink">
                <div class="row">
                    <div class="col-1 p-0 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-11 p-0 text-dark">

                        <a href="<%- host+'/free/'+post.slug%>" class="custum-link showAll" ><%- post.title %></a>

                    </div>
                </div>

            </div>
            <% }%>


        </div>
    </div>
    <div class="col-12 bg-white content-cl shadow-sm border p-1 mt-2">
        <div class="col-12 p-0">
            <div class="row mb-3">
                <div class="col-5">
                    <div class=" p-2 bg-dark text-white">Free Powerpoint</div>
                </div>
                <div class="col-7">
                    <div class=" p-2 text-dark">
                        <div align="right">
                            <a class="custum-link showAll" href="<%-host%>/f/2">Show All</a>

                        </div>
                    </div>

                </div>
            </div>

            <%
            powers = res.powers;
            for (i=0;i<powers.length;i++){
                post = powers[i];
            %>
            <div class="col-12 <% if(i+1 !=  powers.length){%> border-bottom <% }%> sideBarLink">
                <div class="row">
                    <div class="col-1 p-0 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-11 p-0 text-dark">

                        <a href="<%- host+'/free/'+post.slug%>" class="custum-link showAll" ><%- post.title %></a>

                    </div>
                </div>

            </div>
            <% }%>


        </div>
    </div>
    <div class="col-12 bg-white content-cl shadow-sm border p-1 mt-2">
        <div class="col-12 p-0">
            <div class="row mb-3">
                <div class="col-5">
                    <div class=" p-2 bg-dark text-white">Free CheetSheet</div>
                </div>
                <div class="col-7">
                    <div class=" p-2 text-dark">
                        <div align="right">
                            <a class="custum-link showAll" href="<%-host%>/f/3">Show All</a>

                        </div>
                    </div>

                </div>
            </div>

            <%
            cheet = res.cheet;
            for (i=0;i<cheet.length;i++){
                post = cheet[i];
            %>
            <div class="col-12 <% if(i+1 !=  cheet.length){%> border-bottom <% }%> sideBarLink">
                <div class="row">
                    <div class="col-1 p-0 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-11 p-0 text-dark">

                        <a href="<%- host+'/free/'+post.slug%>" class="custum-link showAll" ><%- post.title %></a>

                    </div>
                </div>

            </div>
            <% }%>


        </div>
    </div>
</div>