<div class="row  make-me-sticky2 ">
    <div class="col-md-12 shadow-sm border  bg-white text-dark">
        <div class="p-2 row p-0">
            <div class="col-12 m-0 p-0">
                <h2  class="boxesWline linkColor">آگهی های خودرو </h2>
            </div>
        </div>
        <div class="row  mt-1">
            <div class="col-md-12 ">
                <%
                carAdv = res.lastCarAdv;
                for (i=0;i<carAdv.length; i++){
                imageA = carAdv[i].CarAdvImages[0];
                %>
                <a class="custom-link" href="<%- host+"/cd/"+carAdv[i].id%>">
                    <div class="row">

                        <div class="col-6">
                            <span class="carSideBarsType"><%if (carAdv[i].selling_type == 2){%>فروش اقساطی<% } else { %>فروش نقدی<% } %></span><br>
                            <span class="carSideBarTitle"> <%- carAdv[i].title %>   </span><br>
                            <span class="carSideBarCity"><%- carAdv[i].pro_name %></span><br>
                            <span class="carSideBarTime"><%- jDate.jDate( carAdv[i].actived_at) %></span>
                        </div>
                        <div class="col-6">
                            <img class="sideBarImage" src="<%- host + '/' +imageA.img_url %>">
                        </div>

                    </div>
                </a>
                    <hr>
                <% } %>


            </div>


        </div>

    </div>
</div>