<!DOCTYPE html>
<html class="no-js">
<%- include("../../panel/layouts/head.ejs",{
title:"TeklaFilm::ControlPanel" ,
des:"TeklaFilm::ControlPanel" ,
}) %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <%- include ../../panel/layouts/menu.ejs  %>
        <!-- top navigation -->
        <%- include ../../panel/layouts/topNav.ejs  %>
        <!-- /top navigation -->
        <!-- /header content -->

        <!-- page content -->
        <div id="panelContent" class="right_col" role="main">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="preloader loading">
                            <span class="slice"></span>
                            <span class="slice"></span>
                            <span class="slice"></span>
                            <span class="slice"></span>
                            <span class="slice"></span>
                            <span class="slice"></span>
                        </div>
                        <div class="page-loader-wrapper3">
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Create new Slider

                                </h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <form class="form-horizontal form-label-left">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>title<span class="required">*</span></label>
                                            <input type="text" name="title" id="title"  class="form-control" >
                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>description<span class="required">*</span></label>
                                            <textarea name="des" id="des"  class="form-control"></textarea>
                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>link<span class="required">*</span></label>
                                            <input type="text" name="link" id="link"  class="form-control" >
                                        </div>



                                    </div>
                                    <div class="row">


                                        <div class="col-md-4 form-group">

                                            <label   style="padding:2px">&nbsp;thumb</label>



                                            <label for="image" class="inputfile-6"><span></span> <strong><i class="fa fa-cloud-upload" ></i> choose image</strong></label>
                                            <input type="file" name="image"  onchange="uploadFile('image','4')" id="image" accept=".jpeg,.jpg,.png,.gif" class="inputfile" data-multiple-caption="{count} files selected" multiple />

                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 form-group">


                                <span id="tagimage">
<input id="imagePath" value="" type="hidden" class="form-control">
</span>




                                        </div>
                                    </div>
                                    

                                    <div class="row">
                                        <div class="col-md-2  form-group">
                                            <label >&nbsp;</label>

                                            <button data-pid="q" type="button" id="sendSlider" class="form-control btn btn-success">Send</button>

                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="row"  align="center" id="alertmsg" style="color: red; height: 40px" ></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ../../panel/layouts/footer.ejs %>
    </div>
</div>
<%- include ../../panel/layouts/scripts.ejs %>
<script src="<%-host%>/admin/vendors/tinymce/tinymce.min.js"></script>
<div id="reload" style="display:none;"></div>
<div id="uploading" class="uploading"></div>
<div class="uploadLoadingImg">
    Please wait until uploading the file

</div>
<div id="loading" style="display: none; position: fixed; top: 80px; left: 38%; width:19%; height: 40px; background: #fff0ff; padding: 6px; text-align: center">
    <h4 class="modal-title">Receiving information</h4>
</div>
<script>
    function uploadFile(inputId,mimeType) {
        var file  = $('#'+inputId).prop('files')[0];
        if (file){
            var form_data = new FormData();
            form_data.append('inputId', inputId);
            form_data.append('file', file);
            form_data.append('mimeType', mimeType);

            $('.uploading').fadeIn(100);
            $('.uploadLoadingImg').fadeIn(100);
            $.ajax({
                url: '/uploading',
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                success :function(data){
                    $('.uploading').fadeOut(100);
                    $('.uploadLoadingImg').fadeOut(100);
                    $('#tag'+inputId).html(data);


                    //$('#bg').fadeOut(100);

                }});
        }

    }
    function deleteUploadedFile(userfile,inputId) {

        $.post('/deleteUploaded', {
                fileName        : userfile,
                inputId         : inputId,
            },
            function(data){

                $('#tag'+inputId).html(data);
                $('#'+inputId).html('');
            });

    }
    $(function () {
        //Initialize Select2 Elements
        setTimeout(function () { $('.page-loader-wrapper3').fadeOut(); }, 50);
        setTimeout(function () { $('.preloader').fadeOut(); }, 50);


    })
    $('#sendSlider').click(function () {
        $('#sendSlider').prop('disabled', true);
        des         = $('#des').val();
        title       = $('#title').val();
        thumb       = $('#imagePath').val();
        link        = $('#link').val();
        if (   des == ''   || title == ''  ||  thumb == '' ||  link == '' ){

            $('#alertmsg').html('Please fill all fields');
            $('#sendSlider').prop('disabled', false);
            return false;
        }
        else {
            $.ajax({
                url: 'create',
                data: {
                    link       : link,
                    des        : des,
                    title      : title,
                    thumb      : thumb,
                                 },
                method: 'POST',
                success :function(data){

                    if(data.status == true){
                        $('#loading').fadeOut(100);
                        new PNotify({
                            title: 'Successful',
                            text: 'The article was successfully created' +
                                '<br>' +
                                'You will be redirected to the list page',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        setTimeout(function () {
                            window.location = "list";
                        }, 1000);
                        $('html, body').animate({ scrollTop: 0 }, 'slow');




                    }


                }});
        }
    });

</script>
</body>
</html>