<!DOCTYPE html>
<html class="no-js">
<%- include("../../panel/layouts/head.ejs",{
title:"کنترل پنل مدیریت" ,
des:"کنترل پنل مدیریت" ,
}) %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <%- include ../../panel/layouts/menu.ejs  %>
        <!-- top navigation -->
        <%- include ../../panel/layouts/topNav.ejs  %>
        <!-- /top navigation -->
        <!-- /header content -->

        <!-- page content -->
        <div id="panelContent" class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="box-header table-title">
                            <h3 class="box-title">لیست خودروها  ، تعداد <%- cars.length %></h3>
                        </div>
                        <div id="menus">
                            <table id="list" class="table table-striped table-bordered datatable dt-responsive">
                                <thead>
                                <tr>
                                    <th>مدل</th>
                                    <th>برند</th>
                                    <th>قیمت</th>
                                    <th>نمایش قیمت</th>
                                    <th>تاریخ ثبت</th>
                                    <th>تاریخ ویرایش</th>
                                    <th>عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(i=0 ; i<cars.length;i++) { %>
                                <tr>
                                    <td><%- cars[i].model%></td>
                                    <td><%- cars[i].Brand1.title%> <% if(cars[i].brand2_id != 0 ){ %> | <%- cars[i].Brand2.title %><% } %></td>
                                    <td><%- needFul.Commafy(cars[i].price) %></td>
                                    <td><% if(cars[i].show_price == 0 ){ %> عدم نمایش <% } else {  %>نمایش در لیست<% }  %></td>
                                    <td><%- jDate.jDate(cars[i].created_at) %></td>
                                    <td><%- jDate.jDate(cars[i].updated_at) %></td>
                                    <td><div class="btn-group">

                                            <a   title="ویرایش"  href="cars/update/<%- cars[i].id %>" class="btn btn-info"><i class="fa fa-edit"></i></a>

                                        </div></td>
                                </tr>


                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%- include ../../panel/layouts/footer.ejs %>
    </div>
</div>
<div id="lock_screen">
    <table>
        <tr>
            <td>
                <div class="clock"></div>
                <span class="unlock">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                      <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
            </td>
        </tr>
    </table>
</div>

<%- include ../../panel/layouts/scripts.ejs %>
<script>
    $('#list').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Persian.json"},
        "pageLength": 50,
        "fixedHeader": {
            header: true,
        },
        "lengthMenu": [[10, 25, 50, 100,200,300,500,5000], [10, 25, 50, 100, 200, 300, 500, 5000]],
        "order": [[ 0, 'asc' ]]

    });
</script>

</body>
</html>