

فایل با موفقیت بارگزاری شد، برای مشاهده روی
<a href="<%- host +'/'+ userFile %>" target="_blank"  class="btn btn-info" title="مشاهده" >
    <i  class="fa fa-eye-slash"></i>
</a> کلیک کنید
<input id="<%- inputId %>Path" name="<%- inputId %>Path" type="hidden" value="<%- userFile %>">
، برای حذف روی
<a href="javascript:void(0)" onclick="deleteUploadedFile('<%- userFile %>','<%- inputId %>');" class="btn btn-danger" title="حذف"  >
    <i  class="fa fa-recycle"></i>
</a>
کلیک کنید