<!DOCTYPE html>
<html   dir=rtl lang=fa>
<%- include("layouts/head.ejs",{
title:"سقف مردم" ,
des:"" ,
pageUrl:"https://teklafilm.ir"
}) %>
<body   >

<% include layouts/svg.ejs %>

<%- include layouts/header.ejs%>



<div class="container" style="margin-top:10px">


    <div class="row">
                <h1 class="audioContent border rounded"><span class="spinner-grow text-danger"></span> سقف مردم، ارتباط کسب و کار شماست با میلیون ها نفر = ثروت، آرامش، قدرت (خرید بهترین خودرو) <span class="spinner-grow text-danger"></span></h1>

        </div>
    <div class="row"  style="margin-top:10px">

        <div class="col-md-3 mb-md-0  mb-1 newsBar">
            <%- include("layouts/news.ejs",{
            res:res
            }) %>
        </div>
        <div class="col-md-6 mb-md-0 mb-1 ">
            <div class="row pl-md-2  ">

                    <%- include('all/bAdvs.ejs',{
                    bAdvs:bAdvs,
                    refU:refU,
                    page:page,
                    advCnt:advCnt,
                    }) %>


            </div>


        </div>
        <div class="col-md-3 mb-md-0  mb-1  ">
            <%- include("layouts/sidebar.ejs",{
            res:res
            }) %>
        </div>

    </div>

</div>
<div class="col-12 bg-dark mt-3 text-white">
    <%- include("layouts/footer.ejs",{
    res:res
    }) %>
</div>


</body>
<%- include layouts/scripts.ejs%>

</html>