<!DOCTYPE html>
<html class="no-js">
<%- include("../../panel/layouts/head.ejs",{
title:"کنترل پنل مدیریت" ,
des:"کنترل پنل مدیریت" ,
}) %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <%- include ../../panel/layouts/menu.ejs  %>
        <!-- top navigation -->
        <%- include ../../panel/layouts/topNav.ejs  %>
        <!-- /top navigation -->
        <!-- /header content -->

        <!-- page content -->
        <div id="panelContent" class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> ثبت/ویرایش <%- business.title %>
                            </h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form class="form-horizontal form-label-left">
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label>عنوان دسته بندی<span class="required">*</span></label>
                                        <input type="text" name="title" id="title" class="form-control persian" >
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-8 form-group">
                                        <label>توضیحات<span class="required">*</span></label>
                                        <textarea  name="description" id="description" class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-2  form-group">
                                        <label >&nbsp;</label>

                                        <button data-mid="q" type="button" id="sendbGr" class="form-control btn btn-success">ارسال</button>
                                        <button  type="button" id="newcase" style="display: none"  class="form-control btn btn-warning">انصراف</button>

                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="row"  align="center" id="alertmsg" style="color: red; height: 40px" ></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="box-header table-title">
                            <h3 class="box-title">لیست  ، تعداد <%- business.BusinessGrs.length %></h3>
                        </div>
                        <div id="menus">
                            <table id="list" class="table table-striped table-bordered datatable dt-responsive">
                                <thead>
                                <tr>
                                    <th>عنوان</th>
                                    <th>تاریخ ثبت</th>
                                    <th>تاریخ ویرایش</th>
                                    <th>عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                businessGrs = business.BusinessGrs;
                                for(i=0 ; i<businessGrs.length;i++) { %>
                                <tr>
                                    <td><%- businessGrs[i].title%></td>
                                    <td><%- jDate.jDate(businessGrs[i].created_at) %></td>
                                    <td><%- jDate.jDate(businessGrs[i].updated_at) %></td>
                                    <td><div class="btn-group">

                                            <button type="button" title="ویرایش" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');editItem('<%- businessGrs[i].id%>','<%- businessGrs[i].title%>','<%- businessGrs[i].description%>');" class="btn btn-info"><i class="fa fa-edit"></i></button>

                                        </div></td>
                                </tr>


                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%- include ../../panel/layouts/footer.ejs %>
    </div>
</div>
<div id="lock_screen">
    <table>
        <tr>
            <td>
                <div class="clock"></div>
                <span class="unlock">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                      <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
            </td>
        </tr>
    </table>
</div>

<%- include ../../panel/layouts/scripts.ejs %>
<script>


    function editItem(id,title,description){
        $('#title').val(title);
        $('#description').val(description).html();
        $('#sendbGr').data( "mid", id );
        $('#newcase').css('display','block');

    }
    $('#newcase').click(function () {
        $('#title').val('');
        $('#description').val('');
        $('#sendbGr').data( "mid", 'q' );
        $('#newcase').css('display','none');

    });
    $('#sendbGr').click(function () {
        $('#sendbGr').prop('disabled', true);
        title = $('#title').val();
        description = $('#description').val();
        type_id  = '<%- business.id %>';
        mid = $('#sendbGr').data( "mid");
        if (title == ''){

            $('#alertmsg').html('عنوان دسته بندی نمیتواند خالی باشد');
            $('#sendbGr').prop('disabled', false);
            return false;
        }

        else {
            $('#wait').fadeIn(100);
            $('#alertmsg').html('در حال ارسال');
            $('#sendbGr').prop('disabled', true);

            $.ajax({
                url: 'createUpdateBgr',
                data: {
                    title       : title,
                    description : description,
                    type_id     : type_id,
                    mid         : mid,
                },
                method: 'POST',
                success :function(data){

                    $('#panelContent').html(data);
                    $('#sendbGr').prop('disabled', false);
                    $('#loading').fadeOut(100);
                    new PNotify({
                        title: 'عملیات موفق',
                        text: 'اطلاعات برند، با موفقیت ثبت/ویرایش شد',
                        type: 'success',
                        styling: 'bootstrap3'
                    });

                    //$('#bg').fadeOut(100);

                }});



        }
    });
    $('#list').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Persian.json"},
        "pageLength": 50,
        "fixedHeader": {
            header: true,
        },
        "lengthMenu": [[10, 25, 50, 100,200,300,500,5000], [10, 25, 50, 100, 200, 300, 500, 5000]],
        "order": [[ 0, 'asc' ]]

    });
</script>

</body>
</html>