<!DOCTYPE html>
<html class="no-js">
<%- include("../../panel/layouts/head.ejs",{
title:"کنترل پنل مدیریت" ,
des:"کنترل پنل مدیریت" ,
}) %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <%- include ../../panel/layouts/menu.ejs  %>
        <!-- top navigation -->
        <%- include ../../panel/layouts/topNav.ejs  %>
        <!-- /top navigation -->
        <!-- /header content -->

        <!-- page content -->
        <div id="panelContent" class="right_col" role="main">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="preloader loading">
                        <span class="slice"></span>
                        <span class="slice"></span>
                        <span class="slice"></span>
                        <span class="slice"></span>
                        <span class="slice"></span>
                        <span class="slice"></span>
                    </div>
                    <div class="page-loader-wrapper3">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> ویرایش پرسشهای متداول

                            </h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <form class="form-horizontal form-label-left">
                                <div class="row">
                                    
                                    <div class="col-md-6 form-group">
                                        <label>عنوان<span class="required">*</span></label>
                                        <input type="text" value="<%- v.title %>" name="title" id="title"  class="form-control " >
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label>متن<span class="required">*</span></label>
                                        <textarea id="description" rows="15"  class="form-control"><%- v.description %></textarea>


                                    </div>



                                </div>
                                <div class="row">
                                    <div class="col-md-2  form-group">
                                        <label >&nbsp;</label>

                                        <button data-pid="q" type="button" id="updateFaq" class="form-control btn btn-success">ارسال</button>
                                        <a data-pid="q"  href="../list" class="form-control btn btn-warning">انصراف</a>

                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="row"  align="center" id="alertmsg" style="color: red; height: 40px" ></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../../panel/layouts/footer.ejs %>
<div id="lock_screen">
    <table>
        <tr>
            <td>
                <div class="clock"></div>
                <span class="unlock">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                      <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
            </td>
        </tr>
    </table>
</div>

<%- include ../../panel/layouts/scripts.ejs %>
<script src="admin/vendors/tinymce/tinymce.min.js"></script>
<div id="reload" style="display:none;"></div>
<div id="uploading" class="uploading"></div>
<div class="uploadLoadingImg">
    لطفا تا بارگذاری کامل فایل، منتظر بمانید

</div>
<div id="loading" style="display: none; position: fixed; top: 80px; left: 38%; width:19%; height: 40px; background: #fff0ff; padding: 6px; text-align: center">
    <h4 class="modal-title">در حال دریافت اطلاعات</h4>
</div>

<script>
   
    $(function () {
        //Initialize Select2 Elements
        setTimeout(function () { $('.page-loader-wrapper3').fadeOut(); }, 50);
        setTimeout(function () { $('.preloader').fadeOut(); }, 50);


    })
    $('#updateFaq').click(function () {
        $('#updateFaq').prop('disabled', true);
        description  = tinyMCE.editors[$('#description').attr('id')].getContent();
        title = $('#title').val();
        image  = $('#imagePath').val();
        if (   description == ''   || title == ''  ){

            $('#alertmsg').html('لطفا همه فیلد ها را پر کنید');
            $('#updateFaq').prop('disabled', false);
            return false;
        }
        else {
            $.ajax({
                url: 'update',
                data: {
                    description: description,
                    title      : title,
                    id         : '<%- v.id %>',

                },
                method: 'POST',
                success :function(data){

                    if(data.status == true){
                        $('#loading').fadeOut(100);
                        new PNotify({
                            title: 'عملیات موفق',
                            text: 'پرسشهای متداول، با موفقیت ایجاد شد' +
                                '<br>' +
                                'شما به صفحه لیست هدایت خواهید شد',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        setTimeout(function () {
                            window.location = "../list";
                        }, 1000);
                        $('html, body').animate({ scrollTop: 0 }, 'slow');




                    }


                }});
        }
    });


    tinymce.init({ selector:'#description',
        language: 'fa_IR',
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css',
            'admin/build/css/tiny.css'
        ],
        images_upload_url: '/upload'
    });

</script>
</body>
</html>