<div class="col-md-3 left_col hidden-print">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="./" class="site_title"></i> <span>TeklaFilm</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">

                <img src="" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>WellCome,</span>
                <h2><%= user.name + ' ' + user.family %></h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">


            </div>
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-list-alt"></i>Free Articles<span
                                    class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">

                            <li><a><i class="fa fa-file-pdf-o"></i>Free Pdf<span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu"><a href="<%- host %>/panel/admin/freeArt/new/1">New Article</a>
                                    <li class="sub_menu"><a href="<%- host %>/panel/admin/freeArt/list/1">List</a>

                                </ul>
                            </li>
                            <li><a><i class="fa fa-file-powerpoint-o"></i>Free Powerpoint<span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu"><a href="<%- host %>/panel/admin/freeArt/new/2">New Article</a>
                                    <li class="sub_menu"><a href="<%- host %>/panel/admin/freeArt/list/2">List</a>

                                </ul>
                            </li>
                            <li><a><i class="fa fa-file"></i>Free CheetSheet<span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu"><a href="<%- host %>/panel/admin/freeArt/new/3">New Article</a>
                                    <li class="sub_menu"><a href="<%- host %>/panel/admin/freeArt/list/3">List</a>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li><a><i class="fa fa-video-camera"></i>Video Articles<span
                                    class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu"><a href="<%- host %>/panel/admin/vArt/new">New Article</a>
                            <li class="sub_menu"><a href="<%- host %>/panel/admin/vArt/list">List</a>

                        </ul>
                    </li><li><a><i class="fa fa-image"></i>Sliders<span
                                    class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu"><a href="<%- host %>/panel/admin/sliders/new">New Slider</a>
                            <li class="sub_menu"><a href="<%- host %>/panel/admin/sliders/list">List</a>

                        </ul>
                    </li>

                    <li><a><i class="fa fa-users"></i>Statistics<span
                                    class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu"><a href="<%- host %>/panel/admin/users">Users List</a>
                            <li class="sub_menu"><a href="<%- host %>/panel/admin/pays">Pays</a>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->


    </div>
</div>