<!DOCTYPE html>
<html   dir=rtl lang=fa>
<%- include("../layouts/head.ejs",{
title:"سقف مردم" ,
des:"" ,
pageUrl:"https://teklafilm.ir"
}) %>
<body   >

<% include ../layouts/svg.ejs %>

<%- include ../layouts/header.ejs%>



<div class="container" style="margin-top:10px">


    <div class="row">
                <h1 class="audioContent border rounded"><span class="spinner-grow text-danger"></span> سقف مردم، ارتباط کسب و کار شماست با میلیون ها نفر = ثروت، آرامش، قدرت (خرید بهترین خودرو) <span class="spinner-grow text-danger"></span></h1>

        </div>
    <div class="row"  style="margin-top:10px">

        <div class="col-md-3 mb-md-0  mb-1 newsBar">
            <%- include("../layouts/news.ejs",{
            res:res
            }) %>
        </div>
        <div class="col-md-6 mb-md-0 mb-1 ">
            <div class="row pl-md-2  ">
                <div class="col-md-12 shadow-sm border pb-1  bg-white text-dark">
                    <div class="p-2 row p-0">
                        <div class="col-12 m-0 p-0">
                            <h2  class="boxesWline linkColor"> <%- newD.title %> </h2>
                        </div>
                    </div>
                    <div class="row  mt-1">
                        <div class="col-12">
                            <div class="row ">
                                <div class="col-7">
                                    <%- newD.summary %>
                                </div>

                                <div class="col-5">
                                    <div align="left">
                                        <img class="sideBarImage" src="<%- host + '/' +newD.thumb %>">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                                    <%- newD.text %>

                        </div>
                        <div class="col-12">
                            منبع: <a class="custom-link" href="<%- newD.source_link %>" target="_blank"><%- newD.source %></a>


                        </div>
                        <div class="col-12">
                            <span class="carSideBarTime"><%- jDate.jDate( newD.created_at) %></span>

                        </div>
                    </div>
                </div>


            </div>


        </div>
        <div class="col-md-3 mb-md-0  mb-1  ">
            <%- include("../layouts/sidebar.ejs",{
            res:res
            }) %>
        </div>

    </div>

</div>

<div class="col-12 bg-dark mt-3 text-white">
    <%- include("../layouts/footer.ejs",{
    res:res
    }) %>
</div>

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>
</body>
<link rel="stylesheet" href="<%- host%>/local/css/select2.css">
<script src="<%- host%>/admin/vendors/select2/dist/js/select2.full.min.js"></script>
<%- include ../layouts/scripts.ejs%>
<script>
    function citiesList(pro) {
        $('#citiesListPlace').html('در حال دریافت لیست <span class="spinner-border spinner-border-sm mb-1"></span>');
        $.post('/citiesList', {
                pro        : pro,
            },
            function(data){
                $('#citiesListPlace').html(data);

            });
    }
    function modelsList(br) {
        if (br != '0'){
            $('#carsListPlace').html('در حال دریافت لیست <span class="spinner-border spinner-border-sm mb-1"></span>');
            $.post('/modelsList', {
                    br        : br,
                },
                function(data){
                    $('#carsListPlace').html(data);

                });
        }
        else {
            htm = '<select id="model" name="model" class="select2 form-control siteInputs"><option value="0">برند را انتخاب کنید</option></select>';
            $('#carsListPlace').html(htm);
        }

    }
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2();


    })
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    $('.myImg').click(function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    })


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>
</html>